/* body {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn-primary {
  margin-top: 20px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  width: 200px;
  transition: all 0.3s;
}

#sidebar.active {
  width: 60px;
}

#sidebar .toggle-btn {
  position: absolute;
  top: 10px;
  right: -28px;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

#sidebar.active .toggle-btn {
  transform: rotate(180deg);
}

#content {
  margin-left: 200px;
  transition: all 0.3s;
}

#content.active {
  margin-left: 60px;
} */

#preboard-table .truncate-text {
  max-width: 12ch !important; /* Define el ancho máximo de la celda en función del número de caracteres */
  overflow: hidden !important; /* Oculta el contenido que excede el ancho máximo */
  white-space: nowrap !important; /* Evita que el texto se divida en varias líneas */
  text-overflow: ellipsis !important; /* Agrega puntos suspensivos si el texto se corta */
}

/* Estilos básicos para el input y el dropdown */
.autocomplete {
  position: relative !important;
  display: inline-block !important;
}

input[type="text"] {
  width: 100% !important;
  box-sizing: border-box !important;
  padding: 10px !important;
}

.autocomplete-items {
  position: absolute !important;
  border: 1px solid #d4d4d4 !important;
  border-bottom: none !important;
  border-top: none !important;
  z-index: 99 !important;
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
